

<script src="/js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src='/js/header.js'></script>

<div id="nav" class="row">

<a href='/'>CloneOverflow</a>
<% if(username) { %>
  <div id='loggedIn'>
    <a id='questionAddBtn' href='/ui/questions/add' class="btn btn-secondary">Post Question</a>
    <a id='userRef' href="/ui/user/<%=username%>" class="btn btn-secondary"> Hi, <%=username%></a>
    <a id='logoutBtn' class="btn btn-secondary">Logout</a>
  </div>
<% } else { %>
  <div id='loggedOut'>
    <a id='loginBtn' href="/ui/login" class="btn btn-secondary">Login</a>
    <a id='registerBtn' href="/ui/register" class="btn btn-secondary">Register</a>
    <a id='verifyBtn' href="/ui/verify" class="btn btn-secondary">Activate</a>
  </div>
<% } %>

</div>
