<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header.ejs %>
    <script src='/js/login.js'></script>
  </header>
  <body>
    <form method="POST" id="loginForm" class="form-group">
      <label>Enter your credentials</label> <br />
      <input type='text' id='username' class='form-control' name='username' placeholder='username'/> <br />
      <input type='text' id='password' class='form-control' name='password' placeholder='password'/> <br />
      <button type='button' id='login'>login</button>
      <label id='message' hidden></label>
    </form>
  </body>
</html>
