<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header %>
    <script src='/js/post.js'></script>
  </header>
  <body data-question-id='<%= questionID %>' data-session-username='<%= username %>'>

    <div id='question_section'>
      <h3>Question</h3>

      <div class='question'>		<!--Display this if there is question-->
      	<h4 id='question_title' class='question_title'></h4>
      	<div id='question_body' class='question_body'></div>
      	<div id='question_tags' class='question_tags'><label>Tags:</label></div>
      	<div id='question_media' class='question_media'><label>Media:</label></div>
      	<div id='question_score' class='question_score'><label>Score:</label></div>
        <div id='question_user_data' class='question_user_data'>
          <div id='question_user' class='question_user'>
            <label>User:</label>
          </div>
          <div id='question_user_reputation' class='question_user_reputation'>
            <label>Rep:</label>
          </div>
        </div>
        <button class='upvote'>↑</button>
        <button class='downvote'>↓</button>
      </div>

      <div class='question_control'>
        <button id='question_delete' hidden>Delete</button>
      </div>

    </div>

    <hr />

    <div id='answer_section'>
      <h3>Answers</h3>

      <div id='answer_list'>  			<!--Need Upvote + Username + Rep to each question-->
        <template id="answer_template">
          <hr />
        	<div class='answer'>			<!--Question Template-->
        		<div class='answer_body'></div>
        		<div class='answer_media'><label>Media:</label></div>
            <div class='answer_score'><label>Score:</label></div>
            <div class='answer_accept_mark'></div>
            <div id='answer_user_data' class='answer_user_data'>
              <div class='answer_user'>
                <label>User:</label>
              </div>
            </div>
            <button class='upvote'>↑</button>
            <button class='downvote'>↓</button>
            <div class='answer_control'>
              <button class='answer_accept' hidden>Accept</button>
            </div>
        	</div>
        </template>
      </div>

      <hr />
      <h3>Leave an answer</h3>

      <% if (username) { %>
        <div id='answer_editor'>	<!--Display this if creating question-->
   	       <label>Body</label>
            <textarea id='body_editor' placehoder="Write your answer here..."></textarea><br />

   	       <label>Media</label>
           <div id='media_editor'>
             <div id='media_editor_list'>
               <template id='media_editor_template'>
                 <input type='text' class='media_editor_item'><br />
               </template>
             </div>
             <button id='media_add' data-toggle='modal' data-target='#fileUploadModal'>Add Media</button><br />
           </div>

          <!--File Upload Modal-->
          <div class='modal' id='fileUploadModal' role='dialog'>
            <div class='modal-dialog' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h3 class='modal-title'>File Upload</h3>
                  <button type='button' class='close' data-dismiss='modal' arial-label='Close'>&times;</button>
                </div>
                <div class='modal-body'>
                  <form id='fileUploadForm' enctype="application/x-www-form-urlencoded">
                    <input type='file' name='content' id='content' />
                    <button type='button' class='btn btn-primary' id='uploadBtn'>Upload</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <button id='answer_add'>Post Answer</button><br />

          <label id='message' hidden></label>
        </div>

      <% } else {%>
      <div>
        <h2><a href='/ui/login'>Log in to answer the question</a></h2>
      </div>
      <% } %>

    </div>

  </body>
</html>
