<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header %>
    <script src='/js/question_add.js'></script>
  </header>
  <body>

    <div id='questionForm'>
      <h3>New Question</h3>

      <div id='question_editor'>	<!--Display this if creating question-->
         <label>Title</label>
          <input type='text' id='title_editor' placeholder='title'/><br />

 	       <label>Body</label>
          <textarea id='body_editor' placehoder="Write your question here..."></textarea><br />

 	       <label>Tags</label>
         <div id='tags_editor'>
           <div id='tags_editor_list'>
             <template id='tags_editor_template'>
               <input type='text' class='tags'><br />
             </template>
           </div>
           <button id='tags_add'>Add Tag</button><br />
         </div>

 	       <label>Media</label>
         <div id='media_editor'>
           <div id='media_editor_list'>
             <template id='media_editor_template'>
               <input type='text' class='media_editor_item'><br />
             </template>
           </div>
           <button id='media_add' data-toggle='modal' data-target='#fileUploadModal'>Add Media</button><br />
         </div>

         <!--File Upload Modal-->
         <div class='modal' id='fileUploadModal' role='dialog'>
           <div class='modal-dialog' role='document'>
             <div class='modal-content'>
               <div class='modal-header'>
                 <h3 class='modal-title'>File Upload</h3>
                 <button type='button' class='close' data-dismiss='modal' arial-label='Close'>&times;</button>
               </div>
               <div class='modal-body'>
                 <form id='fileUploadForm' enctype="application/x-www-form-urlencoded">
                   <input type='file' name='content' id='content' />
                   <button type='button' class='btn btn-primary' id='uploadBtn'>Upload</button>
                 </form>
               </div>
             </div>
           </div>
         </div>

        <button id='question_add'>Post Question</button><br />

        <label id='message' hidden></label>
      </div>

    </div>

  </body>
</html>
