<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header %>
    <script src="/js/register.js"></script>
  </header>
  <body>
    <form id='registerForm'>
      <label>Username: </label>
      <input type="text" id='username' placeholder="username" name="username"/>
      <label>Email: </label>
      <input type="email" id='email' placeholder="email" name="email"/>
      <label>Password: </label>
      <input type="password" id='password' placeholder="password" name="password"/>
      <button type='button' id='register'>Register</button>
      <label id='message' hidden></label>
    </form>
  </body>
</html>
