<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header.ejs %>
    <script src='/js/search.js'></script>
  </header>
  <body>

    <div class="jumbotron form-group">
      <div class="form-inline">
        <input id="searchText" type="text" class="form-control">
        <button id="searchBtn" class="btn btn-primary">Search</button>
      </div>
      <div class="form-inline">
        <input id="timestampSelector" type="datetime-local" class="form-control"/>
        <label>Tags:</label>
        <input id="tagsText" type="text" class="form-control" placeholder="eg: java php, c++..."/>
        <select id="limitDropdown">
          <option value=5>5</option>
          <option value=10>10</option>
          <option value=20>20</option>
          <option value=50>50</option>
        </select>
        <input id="acceptedBoolean" type="checkbox" class="form-control" /> Accepted <br />
        <input id="mediaBoolean" type="checkbox" class="form-control" /> Media <br />
        <select id="sortByDropdown">
          <option value=timestamp>newest</option>
          <option value=score>highest score</option>
        </select>
      </div>
    </div>
    <div id="pageContent">
    </div>
  </body>
</html>
