<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header %>
    <script src='/js/user.js'></script>
  </header>
  <body data-profile-username='<%= profileUsername %>'>
    <div>
      <label>Username:</label>
      <label id='username'></label><br />
      <label>Email:</label>
      <label id='email'></label><br />
      <label>Reputation:</label>
      <label id='reputation'></label><br />
    </div>
    <div id='history'>
      <h4>Post History</h4>
      <div id='history_q'>  <!--Question history-->
        <label>Questions</label>
      </div>
      <div id='history_a'>  <!--Answer history-->
        <label>Answers</label>
      </div>
    </div>
  </body>
</html>
