<!DOCTYPE html>
<html>
  <header>
    <%- include partials/header %>
    <script src="/js/verify.js"></script>
  </header>
  <body>
    <form id='verifyForm'>
      <label>Email: </label>
      <input type="email" id='email' placeholder="email" name="email"/>
      <label>Key: </label>
      <input type="password" id='key' placeholder="key" name="key"/>
      <button type='button' id='register'>Activate</button>
      <label id='message' hidden></label>
    </form>
  </body>
</html>
